
{% set currentYear = "now"|date("Y") %}
{% set maxYear = currentYear + 7 %}

{% if app.session.get('successMsg') %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{app.session.get('successMsg')}}
    </div>
{% endif %}


<div class="custom-block calendar-block">
    <div class="custom-head clearfix">
        <div class="custom-menu">
            <button class="up-custom"></button>
        </div>
        <h3>Create Account</h3>
    </div>
    <div class="clearfix">
        <div id="account-info-create" class="display-block-persistent" data-controller="leads_display" data-action="leadEvent">
            <form>
                <div class="form-column">
                    <div class="before-error"></div>
                    <div class="small-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th width="50%">Personal Info </th>
                                    <th width="50%"></th>
                                </tr>
                                <tr>
                                    <td><input id="firstName" class="form-control" type="text" placeholder="First Name" /></td>
                                    <td><input id="lastName" class="form-control" type="text" placeholder="Last Name" /></td>
                                </tr>
                                <tr>
                                    <td><input id="userName" class="form-control" type="text" placeholder="User Name" /></td>
                                    <td><input id="email" class="form-control" type="email" placeholder="Email Address" /></td>
                                </tr>
                            </tbody>
                        </table>

                        <table>
                            <tbody>
                            <tr>
                                <th width="50%">Company Information </th>
                                <th width="25%"></th>
                                <th width="25%"></th>
                            </tr>
                            <tr>
                                <td><input id="companyName" class="form-control" type="text" placeholder="Company Name" /></td>
                                <td><input id="phone" class="form-control" type="text" placeholder="Phone" /></td>
                                <td><input id="ext" class="form-control" type="text" placeholder="Ext" /></td>
                            </tr>
                            <tr>
                                <td>              <input id="address1" class="form-control" type="text" placeholder="Address Line 1" /></td>
                                <td colspan = "2"><input id="address2" class="form-control" type="text" placeholder="Address Line 2" /></td>
                            </tr>
                            <tr>
                                <td>              <input id="city" class="form-control" type="text" placeholder="City" /></td>
                                <td colspan = "2"><input id="state" class="form-control" type="text" placeholder="State" /></td>
                            </tr>
                            <tr>
                                <td>              <input id="postalCode" class="form-control digits" type="text" placeholder="Postal Code" /><span class="errmsg"></span></td>
                                <td colspan = "2"><input id="country" class="form-control" type="text" placeholder="Country" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="industry">
                                        <option disabled selected>Select Your Industry</option>
                                    </select>
                                </td>
                                <td colspan = "2">
                                    <select class="active-select" id="product">
                                        <option disabled selected data-mRate="" data-yRate="">Select Your Product</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="timeZone">
                                        <option disabled selected>Select Your Time Zone</option>
                                    </select>
                                </td>
                                <td colspan = "2">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
                <div class="show-display-per-block-actions" style="margin-bottom: 15px; margin-left:20px;">
                    <button class="btn-save-block btn btn-green">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>


